<ion-view view-title="Text Question">
  <ion-content>
    <div style="margin: auto; width: 20%">
      What year is it?
      <label class="item item-input">
        <input type="text" name="answer" id="answer-textarea" ng-model="$parent.answer" placeHolder="Answer">

      </label>

    </div>
    <button class="button button-full" ng-click="onSubmit()"
            style="margin: auto; width: 20%; background-color : blueviolet; color : white">Next</button>
  </ion-content>
</ion-view>


<!--<ion-list>-->
  <!--<ion-toggle  ng-model="settings.enableFriends">-->
    <!--Enable Friends-->
  <!--</ion-toggle>-->
<!--</ion-list>-->
