<ion-view view-title="Image Question">
  <ion-content>
    </div>
    <img ng-src="img/Quiz.png" alt="Question" style="margin-left: 25%; margin-right: 25%">
    <button class="button button-full" ng-click="onSubmitA()"
            style="margin: auto; width: 20%; background-color : orangered; color : white">a</button>
    <button class="button button-full" ng-click="onSubmitB()"
            style="margin: auto; width: 20%; background-color : purple; color : white">b</button>
    <button class="button button-full" ng-click="onSubmitC()"
            style="margin: auto; width: 20%; background-color : lightseagreen; color : white">c</button>
    <button class="button button-full" ng-click="onSubmitD()"
            style="margin: auto; width: 20%; background-color : mediumblue; color : white">d</button>
  </ion-content>
</ion-view>


<!--<ion-list>-->
  <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
    <!--<img ng-src="{{chat.face}}">-->
    <!--<h2>{{chat.name}}</h2>-->
    <!--<p>{{chat.lastText}}</p>-->
    <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

    <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
      <!--Delete-->
    <!--</ion-option-button>-->
  <!--</ion-item>-->
<!--</ion-list>-->
